# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock
package-lock.json

# Dependency directories
node_modules/

# Environment variables
.env

# Output files
dist/
build/
coverage/

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db